<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles/styles.css" rel="stylesheet">
</head>

<body class="home">
    <header class="banner">
        <h1> NEWLYREAD </h1>
        <p> Read the News </p>
    </header>
    <main>
        <div class="categories">
            <a class="btn" href="/category?cat=business">Business</a>
            <a class="btn" href="/category?cat=entertainment">Entertainment</a>
            <a class="btn" href="/category?cat=gaming">Gaming</a>
            <a class="btn" href="/category?cat=general">General</a>
            <a class="btn" href="/category?cat=music">Music</a>
            <a class="btn" href="/category?cat=politics">Politics</a>
            <a class="btn" href="/category?cat=science-and-nature">Science and Nature</a>
            <a class="btn" href="/category?cat=sports">Sports</a>
            <a class="btn" href="/category?cat=technology">Technology</a>
        </div>
    </main>
</body>

</html>