<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/styles/styles.css" rel="stylesheet">
</head>

<body class="home">
    <header id="sticker">
        <h1> NEWLYREAD </h1>
        <nav>
            <div class="controls">{% block back_btn %} {% endblock %}</div>
        </nav>
    </header>
    <main class="home" style="margin-top: 4em; margin-bottom: -4em; max-width: 900px;">

        <div id="content">
            {% block content %}{% endblock %}
            <div id="bottom">BOTTOM</div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="static/scripts/jquery.sticky.js"></script>
        <script>
            $(document).ready(function() {
                var sticky = new Sticky('#sticker');
                $('#sticker nav select').change(function() {
                    var option = $(this).val();
                    window.location.href = option;
                });
            });
        </script>
        <script defer>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-73276036-1', 'auto');
            ga('send', 'pageview');
        </script>

        {% block scripts %}{% endblock %}
    </main>
</body>

</html>