:root {
    --max-width: 1000px;
    --min-width: 300px;
    --bg-color: #FFF;
    --font-color: #555;
    --btn-bg: #2196F3;
    --btn-margin: 0;
    --btn-padding: 16px;
}

body,
html {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background: var(--bg-color);
    color: var(--font-color)
}

header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

main {
    margin: 0;
    height: 100%;
    padding: 1em;
    font-size: 1rem;
    line-height: 1.5;
    margin: auto;
    display: flex;
    flex-flow: column;
    background: var(--bg-color);
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
    margin-top: 2em;
    max-width: var(--max-width);
}

.article {
    max-width: 900px;
    margin: auto;
}

.article p,
.article ul {
    color: var(--font-color);
}

body.home {
    --btn-margin: 1em;
}

body.reader {
    --bg-color: #fafafa;
    --font-color: #555;
}

main.home {
    --btn-bg: #fff;
}

a {
    color: var(--btn-bg);
}

.btn {
    --font-color: #555;
    text-decoration: none;
    background: var(--btn-bg);
    color: var(--font-color);
    padding: var(--btn-padding);
    margin: var(--btn-margin);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    border-radius: 5px;
}

.flow-row {
    flex-flow: row wrap;
    justify-content: center;
    --max-width: 1000px;
}

#sticker {
    width: 100%;
    /* background: url("https://unsplash.it/1920/1080") no-repeat;
    background-position: center;
    background-size: cover; */
    background: #fff;
    padding: 0;
    margin: 0;
    --font-color: #37474F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    --btn-margin: .25em;
    --btn-padding: .5em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 99;
}

#sticker nav{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    padding: 0 1em;
    margin: auto;
}

#sticker .btn {
    box-shadow: none;
    color: var(--btn-bg);
    background: none;
    margin: 0;
    padding: 0;
}

#sticker .btn:hover {
    color: #111;
    transition: all .3s;
}

#sticker p {
    color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color);
}

.categories {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
}

.categories .btn {
    width: calc(33.33% - (var(--btn-margin) + var(--btn-padding)) * 2);
    height: 100px;
    font-size: 150%;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: flex;
    margin: 1em;
    position: relative;
    width: calc(300px - 2em);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 0;
    text-decoration: none;
    color: #555;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    z-index: 1;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-content p {
    flex: 1 0 auto;
    padding: 0 1em;
}

.btn:hover,
.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

img,
.video-container {
    width: 100%;
}

.video-container {
    max-width: var(--max-width);
    min-width: var(--min-width);
    height: calc(var(--max-width) * .5625);
    margin: auto;
}

iframe {
    width: 100%;
    height: 100%;
    margin: auto;
}

@media screen and (min-width: 1000px) {
     :root {
        --max-width: 1000px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 200px;
        height: auto;
        max-height: 500px;
        min-height: 300px;
    }
}

@media screen and (max-width: 420px) {
     :root {
        --max-width: 85vw;
    }
    .categories .btn {
        width: 100%;
    }
    .card {
        width: 75%;
        height: auto;
    }
}